body{
	margin: 0;
	/* background: url(./images/overview.jpg); */
	background-image: url(./images/overview.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

form{
	display: flex;
	justify-content: center;
	width: fit-content;
	padding: 0 90px 45px 90px;
	background-color: whitesmoke;
	border-radius: 2em 10em 2em 10em;
	border: 3px green solid;
	box-shadow: 0 10px 10px gray;
	/* opacity: 0.7; */
}

form:hover{
	transition: ease-in-out 0.3s;
	background-color: white;
	/* opacity: 1; */
}

.block-display{
	display: block;
	margin: 5px 0 10px 0;
}

input{
	width: 220px;
	height: 30px;
	border-radius: 0.3em;
	padding-inline: 20px;
	border: 1px green solid;
}

label{
	font-size: 12px;
}

.register-text{
	font-size: 13px;
	font-family: monospace;
}

.submit{
	width: 260px;
	height: 35px;
	color: white;
	background-color: green;
	opacity: 0.7;
	cursor: pointer;
}

.submit:hover{
	opacity: 1;
}